{% extends 'AppBundle:Partial:base.html.twig' %}
{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Dashboard</h1>
        </div>
    </div>
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-bar-chart-o fa-fw"></i> Recent activity
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body" ng-show="hasActivities">
                <div id="morris-area-chart"></div>
            </div>
            <div class="panel-body" ng-hide="hasActivities">
                Insert some activities please
            </div>
            <!-- /.panel-body -->
        </div>
    </div>
{% endblock %}