{% extends 'AppBundle:Partial:base.html.twig' %}
{% block content %}

    <div class="contaniner">
        <div class="jumbotron ">
            <div class="col-md-6 col-centered">
                <h1>The Fitness tracker</h1>
                <p>Track quickly your sport activities!</p>
            </div>
        </div>
    </div>
{% endblock %}